/* Import your dynamic universal colors */
@import url("../YASD/color.css");

/* --- Global Bar Reset --- */
window#waybar {
    background: transparent; 
    color: @text;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
    padding: 0;
}

/* This targets the 'pill' ID regardless of which Side or Index it has */
#pill {
    background-color: @bg-alt; 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 30px; 
    margin: 5px 4px;
    padding: 0px 10px;
}

.modules-center > widget > box {
    background-color: @bg-alt;
    border-radius: 10px;
    margin: 5px 4px;
    padding: 0px 10px;
}

#custom-cava {
    color: @active; /* Uses your primary accent color from color.css */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    padding: 0px 10px;
}

/* --- Individual Module Spacing --- */
/* Universal spacing for every module used in the 12 layouts */
#workspaces, #window, #cpu, #memory, #backlight, #network, 
#pulseaudio, #battery, #tray, #clock, #mpris, #idle_inhibitor, 
#custom-power, #custom-wallchange, #custom-wbar, #custom-cliphist, 
#custom-updates, #custom-gpuinfo, #custom-cpuinfo, #custom-swaync, 
#mpris, #custom-mako, #custom-menu{
    padding: 0 6px;
    margin: 0 0px;
}
/* #idle_inhibitor {
    padding: 0 6px 0 3px;
    margin: 0 2px;
} */
/* #custom-menu {
    padding: 0 6px 0 0;
    margin: 0 2px;
} */

/* --- Special Hover/Active States --- */
#workspaces button {
    border: none;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    color: @text;
}

#workspaces button.focused {
    color: @active; 
    font-weight: bold;
}

#custom-power:hover {
    color: @urgent; 
}