* {
    main-bg:            #181719;
    main-fg:            #F1CAD9;
    main-br:            #5B2F42;
    main-ex:            #432533;
    select-bg:          #5B2F42;
    select-fg:          #181719;
    separatorcolor:     transparent;
    border-color:       transparent;
}